* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.toolbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* border: solid 1.5px #bebaba; */
    margin-top: 0.75rem;
    padding: 0.25rem;
    border-radius: 0.45rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.71rem;
}

.btn > img {
    width: 1rem;
}

.btn:hover {
    background-color: #f0f0f0;
}

.btn.active {
    background-color: #6965db;
    border: none;
}

.canvas--container {
    margin-top: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-outline {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.color-picker {
    display: none;
    border-radius: 0.45rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    overflow: hidden;
}

.card {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.color-picker.visible {
    display: block;
}

.current-color {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#mainColorPicker {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: none;
    border-radius: 0.5rem;
}

#hexColorInput {
    flex: 1;
    font-family: monospace;
}

.recent-colors {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.color-swatch {
    width: 30px;
    height: 30px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-swatch:hover {
    transform: scale(1.1);
}
